body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #F4F6F8;
}

h1 {
    color: black;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

button {
    width: 200px;
    height: 60px;
    font-size: 18px;
    background-color: #0D6EFD;
    border: none;
    border-radius: 10px;
    top: 100px;
    transition: 0.3s;
    color: white;
    margin: 20px;
}

button:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: #1E293B;
    color: white;
    font-size: 14px;
    padding: 10px 0;
}

.names {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 400px;
}

img {
    width: 50px;
    margin: 5px;
}

img:hover {
    transform: translateY(-5px) scale(1.05);
}

.home-buttons a {
    text-decoration: none;
}
.home-buttons{
    display: flex;
    justify-content: space-around;
}
