body{
    margin: 0;
    padding: 0;

    min-height: 100vh;

    display: flex;

    flex-direction: column;

    font-family: 'Poppins', sans-serif;
}

h1{
    color:black;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}

.buttons{
    display:flex;
    gap: 300px;
}

button{
    width:200px;
    height:60px;
    font-size:18px;
    background-color: wheat;
    border:none;
    border-radius:10px;
    top: 100px;
    transition: 0.3s;
}
button:hover{
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

footer{
    margin-top: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    text-align: center;

    background-color: #8a8a8a;
    color: white;

    font-size: 14px;

    padding: 10px 0;
}

.names{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 400px;
}
img{
    width: 50px;
    margin: 5PX;
}
img:hover{
    transform: translateY(-5px) scale(1.05);

}
.container-palavras{

    display: flex;

    justify-content: center;

    margin-top: 20px;
}
#lista{
      width: 400px;

    list-style: none;

    padding: 20px;

    background-color: rgb(212, 207, 207);

    border-radius: 15px;

    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}
#lista li{

    background-color: #f1f1f1;

    margin-bottom: 10px;

    padding: 10px;

    border-radius: 10px;

    font-size: 18px;

}
.input {
     display: flex;

    flex-direction: column;

    align-items: center;

    gap: 15px;

    margin-top: 20px;
}
.inputtext{

    display: flex;

    gap: 20px;

}
.inputtext input{

    width: 300px;

    height: 50px;

    padding: 10px;

    font-size: 18px;

    border-radius: 10px;

    border: 1px solid #ccc;

}
